@value makerGreen, makerLightPink, makerWhite from '../../common/colors.css';


.maker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: makerWhite;
}
@media screen and (max-width: 512px) {
    .container {
      flex-direction: column;
    }
  }
  

.editor {
    padding: 0.2em;
    text-align: center;
    width: 50%;
 
}
.preview {
    padding: 0.2em;
    text-align: center;
    width: 50%;
}