@value makerWhite, makerGreen from '../../common/colors.css';

.footer {
    background-color: makerGreen;
    text-align: center;
    width: 100%;
    margin: 0;
   
}

.title {
    color: makerWhite;
}